body {
font-family: IBM Plex Mono Light;
}


.topo{
background: #4a3f3f;
padding: 15px;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
}


.menu{
margin-left: 15px;
color: white;
font-weight: bold;
}


.lista{
display: flex;
flex-direction: column;
padding: 20px;
}


.item{
background: #e0e0e0;
padding: 15px;
margin-bottom: 10px;
border-radius: 5px;
}


.rodape{
text-align: center;
padding: 10px;
background: #ddd;
margin-top: 20px;
}